body {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('magic.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(77, 142, 77);
    color: #fffdf5;
    text-align: start;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.conversion-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 1;
    max-width: 90%;
    padding: 20px;
}

h1 {
    font-size: 50px; 
    font-weight: 700;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 10px #b8db72; 
}

p {
    font-size: 18px; 
    margin: 10px 0;
    position: relative;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    font-weight: bold;
    color: #fff;
    background-color: rgba(77, 142, 77, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    background-color: #4b7a4a;
    color: #b8db72;
    transform: scale(1.05);
}

@media (max-width: 768px) {

    p {
        font-size: 16px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 15px;
        width: 100%;
        max-width: 300px;
    }
}